version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:lts

jobs:
  checkout:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - persist_to_workspace:
          root: ~/repo
          paths: .

  sonarscanner:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo

      - sonarcloud/scan


  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
     
      - run:
          name: Run eslint
          command: npm run lint

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
     
      - run:
          name: Run tests w/ coverage
          command: npm run test:coverage

      - run:
          name: Submit code coverage
          command: npm run send-coverage

  publish:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc

      - run:
          name: Publish package
          command: npm publish

workflows:
  test-publish:
    jobs:
      - checkout

      - lint:
          requires:
            - checkout

      - test:
          requires:
            - checkout

      - sonarscanner:
          context: SonarCloud
          requires:
            - test

      - publish:
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/